body,
html {
  margin: 0px;
}
img {
  max-width: 100%;
  height: auto;
}
.ReactModalPortal {
  position: relative;
  z-index: 999;
}
.ReactModal__Body--open {
  overflow-y: hidden;
}
.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 0ms ease-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.ReactModal__Content {
  transform: translateY(50px);
  transition: transform 0ms ease-out;
}

.ReactModal__Content--after-open {
  transform: translateY(0);
}

.ReactModal__Content--before-close {
  transform: translateY(50px);
}
.ais-InfiniteHits-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  padding: 0px;
  margin: 0px;
  justify-content: space-between;
}
.ais-InfiniteHits-list .ais-InfiniteHits-item {
  box-sizing: border-box;
  z-index: 1;
  position: relative;
  background-color: white;
  margin-bottom: 40px;
  width: calc(100% / 4 - 15px);
}
.ais-InfiniteHits-loadMore {
  margin: 0 auto;
  display: block;
  background-color: #4386b9;
  color: white;
  border: 0px;
  padding: 10px 20px;
  cursor: pointer;
}
