body,
html {
  margin: 0px;
  scroll-behavior: smooth;
}
img {
  max-width: 100%;
  height: auto;
}
.ReactModalPortal {
  position: relative;
  z-index: 999;
}
.ReactModal__Body--open {
  overflow-y: hidden;
}
.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 0ms ease-out;
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.ReactModal__Content {
  transform: translateY(50px);
  transition: transform 0ms ease-out;
  max-width: 1000px;
  padding: 0px 80px !important;
  margin: 0 auto;
  border: 0px !important;
  border-radius: 0px !important;
  background: transparent !important;
  position: relative;
  overflow: hidden !important;
  height: calc(100% - 80px);
}

.ReactModal__Content--after-open {
  transform: translateY(0);
}

.ReactModal__Content--before-close {
  transform: translateY(50px);
}
.ais-InfiniteHits-list {
  display: flex;
  list-style: none;
  padding: 0px;
  margin: 0px;
  flex-direction: row;
  flex-wrap: wrap;
}
.ais-InfiniteHits-list .ais-InfiniteHits-item {
  box-sizing: border-box;
  z-index: 1;
  position: relative;
  background-color: white;
  margin-bottom: 40px;
  width: calc((100%) / 4 - 20px);
  margin-right: 20px;
}
.ais-InfiniteHits-loadMore {
  margin: 0 auto;
  display: block;
  background-color: #4386b9;
  color: white;
  border: 0px;
  padding: 10px 20px;
  cursor: pointer;
}
.view-neighborhoods .digett-rows > div:nth-child(4n + 4) {
  margin-right: 0px;
}
