@import "./src/scss/variables.scss";
@import "./src/scss/mixins.scss";
#menu-sidebar {
  @include mobile() {
    padding: 0px 2%;
  }
  p {
    margin: 0px;
  }
  a {
    color: #484242;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.25rem;
    background-color: #f7f7f7;
    padding: 15px 20px;
    width: 100%;
    display: block;
    box-sizing: border-box;
    strong {
      color: #c1b098;
      font-weight: normal;
    }
    &.active {
      background-color: #d6d2d2;
    }
  }
}
