@import "./src/scss/variables.scss";
@import "./src/scss/mixins.scss";

#articles-list {
  padding: 0px;
  > div {
    padding: 0px;
    > div {
      flex-wrap: wrap;
      align-items: stretch;
      > div {
        width: calc(100% / 2 - 20px);
        box-sizing: border-box;
        margin-right: 30px;
        margin-bottom: 60px;
        padding: 0px;
        display:flex;
        &:nth-child(2n + 2) {
          margin-right: 0px;
        }
        @include mobile() {
          width: calc(100%);
          margin-right: 0px;
          &:nth-child(2n + 2) {
            margin-right: 0px;
          }
          &:nth-child(2n + 2) {
            margin-right: 0px;
          }
        }
      }
    }
  }
}
