@import "./src/scss/variables.scss";
@import "./src/scss/mixins.scss";
#search-hero {
  color: #ffffff;
  > div {
    > div {
      width: 100%;
      padding: 23%;
      box-sizing: border-box;
      position: relative;
      height: 0px;
      min-height: 0px;
    }
  }
}

#partners {
  h2 {
    color: #484242;
    font-size: 50px;
    line-height: 46px;
    letter-spacing: 2px;
    font-weight: 400;
    @include tablet() {
      font-size: 3rem;
    }
    @include mobile() {
      font-size: 3rem;
    }
  }
  @include tablet() {
    > div > div {
      flex-wrap: wrap;
      > div {
        width: calc(100% / 3);
        box-sizing: border-box;
        &:nth-child(3) {
          padding-top: 20px;
          padding-bottom: 20px;
        }
        &:nth-child(4) {
          padding-top: 20px;
          padding-bottom: 20px;
        }
      }
    }
  }
  @include mobile() {
    > div > div {
      flex-wrap: wrap;
      > div {
        width: calc(100% / 2);
        box-sizing: border-box;
      }
    }
  }
}

.carousel-root {
  overflow: hidden;
  .carousel-image > div {
    animation: fadeIn 5s;
    width: 100%;
    padding: 23%;
    box-sizing: border-box;
    position: relative;
    height: 0px;
    min-height: 0px;
  }
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.logo-slider {
  width: calc(300px * 30);
  &::before {
    top: 0;
    left: 0;
    background: linear-gradient(
      to right,
      #ffffff 0%,
      rgba(255, 255, 255, 0) 100%
    );
    content: " ";
    position: absolute;
    z-index: 7;
    width: 180px;
    height: 100%;
  }
  &::after {
    top: 0;
    right: 0;
    background: linear-gradient(
      to left,
      #ffffff 0%,
      rgba(255, 255, 255, 0) 100%
    );
    content: " ";
    position: absolute;
    z-index: 7;
    width: 180px;
    height: 100%;
  }

  li {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    width: 360px;
    margin-left: 75px;
    margin-right: 75px;

    &:first-child {
      margin-left: 0px;
    }

    &:last-child {
      margin-right: 0px;
    }

    animation: translateinfinite 50s linear infinite;
  }
}

@keyframes translateinfinite {
  100% {
    transform: translateX(calc(-240px * 15));
  }
}
