@import "./src/scss/variables.scss";
@import "./src/scss/mixins.scss";
#search-hero {
  color: #ffffff;
  > div {
    > div {
      width: 100%;
      padding: 23%;
      box-sizing: border-box;
      position: relative;
      height: 0px;
      min-height: 0px;
    }
  }
}

#partners {
  h2 {
    color: #484242;
    font-size: 4rem;
  }
  @include tablet() {
    > div > div {
      flex-wrap: wrap;
      > div {
        width: calc(100% / 3);
        box-sizing: border-box;
        &:nth-child(3) {
          padding-top: 20px;
          padding-bottom: 20px;
        }
        &:nth-child(4) {
          padding-top: 20px;
          padding-bottom: 20px;
        }
      }
    }
  }
  @include mobile() {
    > div > div {
      flex-wrap: wrap;
      > div {
        width: calc(100% / 2);
        box-sizing: border-box;
      }
    }
  }
}
